# 1. to create a dataframe from a dictionary and display it

In [1]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Aditya', 'Raj', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307025, 216270307013]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']))

      Name  Age    Enrollment
0   Aditya   18  216270307032
1      Raj   17  216270307025
2  Bhargav   18  216270307013

# 2. to sort the DataFrame first by 'name' in ascending order

In [2]:
import numpy as np
import pandas as pd

details = {
    'Name' : ['Aditya', 'Raj', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307025, 216270307013]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']).sort_values(by = ['Name']))

      Name  Age    Enrollment
0   Aditya   18  216270307032
2  Bhargav   18  216270307013
1      Raj   17  216270307025

# 3. to delete the one specific column from the DataFrame

In [3]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Aditya', 'Chhayank', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307017, 216270307013]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']).drop(['Age'], axis = 1))

       Name    Enrollment
0    Aditya  216270307032
1  Chhayank  216270307017
2   Bhargav  216270307013

# 4. to write a DataFrame to CSV file using tab separator

In [4]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Aditya', 'Raj', 'Bhargav'],
    'Age' : [18, 17, 18],
    'Enrollment' : [216270307032, 216270307025, 216270307013]
}

data_frame = pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment'])

data_frame.to_csv('Details.csv', sep = '\t') # Saving as a CSV file
 
new_data_frame = pd.read_csv('Details.csv') # loading the CSV file
 
print('\nData from Students.csv : \n', new_data_frame)

Data from Students.csv :
         \tName\tAge\tEnrollment
0   0\tAditya\t18\t216270307032
1      1\tRaj\t17\t216270307025
2  2\tBhargav\t18\t216270307013